.container {
    background-image: url("./assets/spotlights.png");
    background-repeat: no-repeat;
    /* background-position: center; */
    background-attachment: fixed;
    background-size: cover;
}

.textGradient {
    background: linear-gradient(50deg, #b429f9, #ffbe76);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}
.bgGradient {
    background: linear-gradient(50deg, #b429f9, #ffbe76);
}

.byteContainer {
    /* clip-path: polygon(79% 0, 100% 18%, 100% 100%, 0 100%, 0 0); */
    clip-path: polygon(74% 0, 100% 26%, 100% 100%, 0 100%, 0 0);
}
.font-outline {
    -webkit-text-stroke: 0.25px #06071d;
}

@media (min-width: 768px) {
    .container {
        background-size: cover;
    }
    .textGradient {
        background: linear-gradient(45deg, #b429f9, #ffbe76);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
    }
    .bgGradient {
        background: linear-gradient(45deg, #b429f9, #ffbe76);
    }
}
