.container {
    background-image: url("./assets/spotlights.png");
    background-repeat: no-repeat;
    /* background-position: center; */
    background-attachment: fixed;
    background-size: cover;
}

.bgGradient {
    background: linear-gradient(50deg, #b429f9, #ffbe76);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

@media (min-width: 768px) {
    /* .container {
        background-size: cover;
    } */
    .bgGradient {
        background: linear-gradient(45deg, #b429f9, #ffbe76);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
    }
}
